nav {
	padding-top: 15px;
	padding-bottom: 15px;
}

#icone {
	background-color: #daa520;
}

nav a {
	color: #daa520;
}

#corpo {
	padding-top: 140px;
	padding-bottom: 15px;
}

#icon {
	padding-top: 5px;
	padding-bottom: 9px;
}

#icon img {
	width: 100px;
	height: 50px;
}

main {
	margin-top: -20px;
	background-color: #FFDEAD;
	padding-top: 25px;
	padding-bottom: 40px;
}

nav img{
	height: 100px;
	width: 200px;
}

.container {
  padding: 2px 16px;
}

.hover {
  width: 100%;
  height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

}

.hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hover img {
  display: block;
  position: relative;
  height: 190px;
}

/* effect hover 1 */

.ehover1 img {
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 100%; 
  
}

.ehover1 .overlay {
  opacity: 0;
  background-color: rgba(0,0,0, 0.5);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}

.ehover1:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.ehover1:hover .overlay {
  opacity: 1;

}


.img-text {
	margin: 5px;
	padding: 5px;
  padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}


footer {
	background-color: #c3e6cb;
}

i {
	color: black;
}

#mapa {
	padding: 25px;
	float: center;
}

#mapa i {
	padding: 5px;
	float: left;
}

